@import '/src/scss/variables';

li {
  display: flex;
  justify-content: space-between;

  list-style-type: none;
  width: 400px;
  margin: 7px;
  border: 1px solid $color-red;
  border-radius: 4px;

  padding: 6px;
}

span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input {
  margin: 7px;
}

button {
  margin: 0 4px;
}

.done {
  text-decoration: line-through;
}

.doneTaskColor {
  background-color: $color-green;
  border: 1px solid $color-green;
}

